* {
  box-sizing: border-box;
}

.parent {
  margin: 20px auto;
  width: 800px;
  height: 500px;
  background-color: #eee;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 10px;
  justify-content: center;
  align-content: flex-end;
}
